body {
    background-color: rgb(149, 210, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 3rem;
}

#container {
    position: relative;
    text-align: center;
    width: 900px;
    height: 800px;
    border: 1px solid black;
}

#pokemonName {
    font-size: 1.5rem;
    width: 350px;
    height: 25px;
}

#pokemonFrontImg, #pokemonBackImg {
    image-rendering: pixelated;
    width: 225px;
    display: none;
}

#pokemonTypes{
    font-size: 3rem;
    color: rgb(23, 0, 93);
    display: none;
    text-align: center;
}

#pokemonId {
    font-size: 1.5rem;
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    font-size: 1.3rem
}